<% title = 'Erro no Servidor' %>

<h1 class="text-center text-3xl text-red-500 mt-10">Erro interno no servidor (500)</h1>
<p class="text-center text-prata mt-4">Algo deu errado. Tente novamente mais tarde.</p>
<a href="/" class="block text-center mt-6 text-blue-400 underline">Voltar ao início</a>
